.wd-col-20pc {
    float: left;
    width: 20%;
  }
  .wd-col-60pc {
    float: left;
    width: 60%;
  }
  
  .wd-kanbas-navigator {
    background-color: black !important;
    /* color: white; */
    padding: 20px;
    width: 150px;
    height: 1000px;
    top: -30px;
    border-radius: 0px;
  }
  
  .wd-kanbas-navigator li {
    list-style-type: none;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .wd-kanbas-navigator li a {
    color: white;
    text-decoration: none;
  }

  /* Spacing General*/
.spacing {
    padding: 5;
    padding-bottom: 2px;
    padding-top: 2px;

    text-align:center;
    line-height: 0;
    text-align: center;
    align-items:center;
}