.groupButtonStyle {
    background-color: '#d3d3d3'; 
    border: '1px solid black';
    color: 'black';
    border-radius: '7px';
    position:"relative"; 
    left:"5%";
    padding:5
  };
 .assignmentButtonStyle{
    background-color: '#FF0000'; 
    color: 'white';
    position:"relative";
    padding:7;
    left:"5%";
    margin: '10px';
    border: '1 px solid #FF0000'
  };